form{
    align-items: center;
}

#valor1{
    position: absolute;

}
#oper{
    position: absolute;
    margin-top: 5px;
    height: 25px;
    width: 120px;
    margin-left: 140px;

}
#opera{
    position: absolute;
    margin-top: 10px;
}
option{
text-align: center;
}
#valorx{
    position: absolute;
    margin-top: 15px;
    margin-left: 105px;
}
#valor2{
    position: absolute;
    margin-top: 15px;
}
#resul{
    position: absolute;
    margin-top: 50px;
    margin-left: 35px;
}
#res{
    position: absolute;
    margin-top: 50px;
    margin-left: 105px;
}
.botao{
    position: absolute;
    margin-top: 23px;
    margin-left: 155px;
}
legend{
    position:relative;
}
fieldset{
    position: absolute;
    height: 150px;
    width: 20em;
}